
h1 {
  font: 400 3em/1.5 'VT323', monospace;
  font-size: 4em;
}

#mainContent {
  display: 'flex';
  align-items: 'center';
  flex-direction: 'column';
  background-color: #d4cedf;
  box-shadow: 5px 5px #a896c2;
  border: 2px solid #745999;
}

#text {
  background-color: #c0e0fc;
  box-shadow: 5px 5px #84b6e3;
  border: 2px solid #1576cf;
}

.contentDiv {
  margin: 10%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
}

p {
  font-size: 20px;
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
